*.pdb
.vs/**

obj/**
**/GeneralServices/.vs/**
**/GeneralServices/.vscode/**
**/GeneralServices/bin/**
**/GeneralServices/obj/**

GeneralServices/.vs/**
GeneralServices/GeneralServices/.vscode/**
GeneralServices/GeneralServices/bin/**
GeneralServices/GeneralServices/obj/**
