*.pdb
.vs/**

obj/**
**/GeneralServices/.vs/**
**/GeneralServices/.vscode/**
**/GeneralServices/bin/**
**/GeneralServices/obj/**

GeneralServices/.vs/**
GeneralServices/GeneralServices/.vscode/**
GeneralServices/GeneralServices/bin/**
GeneralServices/GeneralServices/obj/**
GeneralServices/.vs/GeneralServices/DesignTimeBuild/.dtbcache
GeneralServices/.vs/GeneralServices/v15/.suo
GeneralServices/GeneralServices/GeneralServices.csproj.user
GeneralServices/GeneralServices/GeneralServices.csproj
