<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Core.Common" version="0.1.221" targetFramework="net461" />
  <package id="Core.Google.Auth" version="0.1.8" targetFramework="net461" />
  <package id="Google.Apis" version="1.40.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.40.0" targetFramework="net461" />
  <package id="Google.Apis.Calendar.v3" version="1.40.0.1590" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.40.0" targetFramework="net461" />
  <package id="Google.Apis.Plus.v1" version="1.40.0.1593" targetFramework="net461" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
</packages>